
# Don't commit deployed openmrs
data/webapps/openmrs/
data/OpenMRS/.openmrs-lib-cache
data/OpenMRS/activemq-data
data/OpenMRS/chartsearch
data/OpenMRS/lucene
data/OpenMRS/owa/
data/OpenMRS/REPORT_RESULTS
data/OpenMRS/person_images
data/OpenMRS/openmrs.log
data/logs/
data/OpenMRS/mozart2/
data/OpenMRS/o3-spa/
data/OpenMRS/lucene/
data/OpenMRS/*.log
data/OpenMRS/*.log.*
data/OpenMRS/REPORT_RESULTS/
data/OpenMRS/activemq-data/

# Ignore the provided dump file
mysql/openmrs.sql

# Editors
.vscode/*




